.git
.venv
venv
.dockerignore
.gitignore
.mypy_cache
.pytest_cache
.python-version
.ruff_cache
.vscode
Dockerfile
docker-compose.*.yml
docker-compose.*.yaml
test
testdb
lpr-app.db

app/trained_model/yolo11n.pt
app/trained_model/yolo11s.pt
dataset/
app/temp/*